<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div id="app">
			第一个：<input type="text" v-model="a" /><br />
			第二个：<input type="text" v-model="b" /><br />
			<button @click="obj">计算</button><br />

			结果是
			<div v-text="ab"></div>
		</div>
		<script src="./js/vue.js"></script>
		<script>
			let vm = new Vue({
				el: '#app',
				data: {
					a: '',
					b: '',
					ab: '',
				},
				methods: {
					obj: function () {
						this.ab = parseInt(this.a) + parseInt(this.b)
					},
				},
			})
		</script>
	</body>
</html>
